# WARNING - this file will be overwritten by cs50 if vagrant is reprovisioned.

[core]
	# pager started by git when needed
	pager = less
	# editor started by git when needed
	editor = emacs
	# common gitignore file lives in home dir
	excludesfile = /home/vagrant/.gitignore_global
	# proceed with default merge message, rather than asking
 	mergeoptions = --no-edit
[push]
	default = simple
